* {
    box-sizing: border-box;
}

img {
    width: 100%;
    max-width: 313px;
    border: 6px solid #5b358f;
}

body {
    background-color: #1c4232;
    color: #7a9b73;
    font-family: 'Kaisei Decol', serif;
    line-height: 1.5;
    max-width: 313px;
}

h1, h2 {
    font-family: 'Copper-plate';
    transition: all 0.5s ease-in-out;
}

h1:hover, h2:hover {
    color: #13cf71;
    transform: scale(1.2) translate(60px)
}

a {
  color: #7a9b73;
}

a:hover {
    color: #cf7713;
}

  a:after {
      color: #5b358f
  }

  p, ul {
      font-size: large;
  }